################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FinalWorkWithFiles
/BackupSystem/bin/Debug/netcoreapp3.1
/BackupSystem/obj
/FinalWorkWithFiles/bin/Debug/netcoreapp3.1
/FinalWorkWithFiles/bin/Debug
/FinalWorkWithFiles/bin
/FinalWorkWithFiles/obj/Debug/netcoreapp3.1
/FinalWorkWithFiles/obj
